<div class="login-container">
  <div class="login-box">
    <h2>{{ title }}</h2>

    <app-button-container direction="column" [gap]="15">
      <app-button
        text="Sign up with Google"
        backgroundColor="#4285F4"
        textColor="#FFFFFF"
        icon="assets/google-icon.svg"
        (onClick)="signUpWithGoogle()">
      </app-button>

      <app-button
        text="Sign up with Microsoft"
        backgroundColor="#0078D4"
        textColor="#FFFFFF"
        icon="assets/microsoft-icon.svg"
        (onClick)="signUpWithMicrosoft()">
      </app-button>

      <app-button
        text="Create Account"
        backgroundColor="#6C5CE7"
        textColor="#FFFFFF"
        (onClick)="createAccount()">
      </app-button>
    </app-button-container>

    <app-input-container [form]="loginForm" (submitted)="onSubmit()">
      <app-input        placeholder="Username or email" formControlName="email"></app-input>
      <app-password-input placeholder="Password"       formControlName="password"></app-password-input>
    </app-input-container>


  
    
   
    
    <div class="divider"></div>
  </div>
</div>