/* Reset global — garante consistência em todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== LOGIN CONTAINER ===== */
.login-container {
  background-color: #c9b6b6;    
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

}

/* ===== LOGIN BOX ===== */
.login-box {
  background-color: #607985;      /* fundo branco como no Kahoot */
  border-radius: 6px;
  padding: 36px 32px;             /* fixo, sem % */
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}





app-button-container {
  width: 100%;                        /* ✅ ocupa todo o login-box */
  display: block;
}


app-input {
  width: 100%; 
  display: block;
                       /* ✅ ocupa toda a largura do login-box */
} 