<app-login-container title="Tela de Registro">





  
  <app-button-container socialButtons direction="column" [gap]="15">
    <app-button text="Sign up with Google"></app-button>
    <app-button text="Sign up with Microsoft"></app-button>
  </app-button-container>

  <form loginForm [formGroup]="loginForm">
    <app-input-container>
      <app-input placeholder="Email" formControlName="email"></app-input>
      <app-password-input placeholder="Senha" formControlName="password"></app-password-input>
    </app-input-container>
  </form>

  <app-button-container loginActions>
    <app-button text="Sign up" backgroundColor="#4285F4"></app-button>
  </app-button-container>

  <ng-container loginFooter>
    <p>Já tem uma conta? <a href="/login">Clique aqui!</a></p>
  </ng-container>

</app-login-container>