:host {
  display: block; 
  width: 100%; /* Ocupa 100% da largura da tela */
}

.app-race-container {
  background-color: red; /* Removendo o vermelho para não cobrir o fundo branco do lobby */
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 0; /* Espaçamento entre as linhas */
}