:host {
  display: block;
  width: 100%;
}

.race-wrapper {
  background-color: black; 
  width: 100%;
  display: flex; /* Flexbox para melhor controle de margem percentual */
  flex-wrap: nowrap;
  justify-content: center; /* Centraliza os itens */
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

app-race-item {
  width: 20%; /* Ajuste para caberem 4 itens com margens grandes */
  margin: 0 5%; /* 5% de cada lado soma os 10% entre itens solicitados */
}

app-race-item:first-child {
  margin-left: 0;
}

app-race-item:last-child {
  margin-right: 0;
}