.input-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap: 15px;
  background-color: rgb(95, 182, 182);
}



.input-container.direction-row {
  flex-direction: row;
}


.input-container.direction-row {
  flex-direction: row;
}

.input-container.direction-column {
  flex-direction: column;
}